* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    &.toyota-page {
        background-color: #0E0E0E;
        position: relative;
    }
}
