.hero-section {
    width: 100%;
    height: 100vh;
    &__container {
        width: 100%;
        height: 100%;
    }
    .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &__img {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            &__overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                background: rgba(0, 0, 0, 0.40);
                &-container {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 0 70px;
                    @include mq(tablet-portrait-up) {
                        width: 100%;
                        padding: 0 25px;
                    }
                }
                &-title {
                    color: #fff;
                    font-size: 39px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    text-align: left;
                    text-transform: uppercase;
                    @include mq(phone-only) {
                        font-size: 30px;
                    }
                }
                &-desc {
                    width: 70%;
                    color: #fff;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    text-align: left;
                    text-transform: capitalize;
                    margin: 16px 0 40px 0;
                    @include mq(tablet-portrait-up) {
                        width: 100%;
                    }
                }
                &-btn {
                    width: 136px;
                    height: 61px;
                    border-radius: 8px;
                    background: #fbb040;
                    color: #fff;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 200%;
                }
                &-footer {
                    position: absolute;
                    bottom: 60px;
                    right: 100px;
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    row-gap: 30px;
                    @include mq(tablet-portrait-up) {
                        width: 70%;
                        bottom: 60px;
                        right: 25px;
                    }
                    &__line {
                        width: 100%;
                        height: 3px;
                        background-color: #FBB040;
                    }
                    &__title {
                        color: #FFF;
                        font-size: 23px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            border: 2px solid #fff;
            background-color: transparent;
            margin: var(--swiper-pagination-bullet-vertical-gap,40px) 0;
            &-active {
                background-color: #ff8a00;
                border: none;
            }
        }
    }
}
