* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
body.toyota-page {
  background-color: #0E0E0E;
}

.hero-section {
  width: 100%;
  height: 100vh;
}
.hero-section__container {
  width: 100%;
  height: 100%;
}
.hero-section .swiper {
  width: 100%;
  height: 100%;
}
.hero-section .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-section .swiper .swiper-slide__img {
  width: 100%;
  height: 100%;
}
.hero-section .swiper .swiper-slide__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero-section .swiper .swiper-slide__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}
.hero-section .swiper .swiper-slide__overlay-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 70px;
}
@media only screen and (max-width: 768px) {
  .hero-section .swiper .swiper-slide__overlay-container {
    width: 100%;
    padding: 0 12.5px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-section .swiper .swiper-slide__overlay-container {
    width: 70%;
  }
}
.hero-section .swiper .swiper-slide__overlay-title {
  color: #fff;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .hero-section .swiper .swiper-slide__overlay-title {
    font-size: 30px;
  }
}
.hero-section .swiper .swiper-slide__overlay-desc {
  width: 70%;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  text-transform: capitalize;
  margin: 16px 0 40px 0;
}
@media only screen and (max-width: 768px) {
  .hero-section .swiper .swiper-slide__overlay-desc {
    width: 100%;
  }
}
.hero-section .swiper .swiper-slide__overlay-btn {
  width: 136px;
  height: 61px;
  border-radius: 8px;
  background: #fbb040;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  border: none;
  outline: none;
  cursor: pointer;
}
.hero-section .swiper .swiper-slide__overlay-footer {
  position: absolute;
  bottom: 60px;
  right: 100px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 30px;
}
@media only screen and (max-width: 768px) {
  .hero-section .swiper .swiper-slide__overlay-footer {
    width: 70%;
    bottom: 60px;
    right: 25px;
  }
}
.hero-section .swiper .swiper-slide__overlay-footer__line {
  width: 100%;
  height: 3px;
  background-color: #FBB040;
}
.hero-section .swiper .swiper-slide__overlay-footer__title {
  color: #FFF;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.hero-section .swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  background-color: transparent;
  margin: var(--swiper-pagination-bullet-vertical-gap, 40px) 0;
}
.hero-section .swiper .swiper-pagination-bullet-active {
  background-color: #ff8a00;
  border: none;
}
@media only screen and (max-width: 768px) {
  .hero-section .swiper .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 20px) 10px;
  }
}

.section-2 {
  width: 100%;
  padding: 120px 80px;
}
@media only screen and (max-width: 1200px) {
  .section-2 {
    padding: 120px 40px;
  }
}
@media only screen and (max-width: 768px) {
  .section-2 {
    padding: 80px 12.5px;
  }
}
.section-2__container {
  width: 100%;
}
.section-2__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .section-2__row {
    flex-direction: column;
    row-gap: 30px;
  }
}
.section-2__left {
  max-width: 648px;
}
@media only screen and (max-width: 1200px) {
  .section-2__left {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .section-2__left {
    width: 100%;
  }
}
.section-2__left-inner h3 {
  color: #ff8a00;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .section-2__left-inner h3 {
    font-size: 30px;
  }
}
.section-2__right {
  max-width: 517px;
}
@media only screen and (max-width: 1200px) {
  .section-2__right {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .section-2__right {
    width: 100%;
  }
}
.section-2__right-inner p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 240%;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .section-2__right-inner p {
    font-size: 14px;
  }
}

.section-3 {
  width: 100%;
  padding-right: 80px;
}
@media only screen and (max-width: 768px) {
  .section-3 {
    padding-right: 0;
  }
}
.section-3__container {
  width: 100%;
}
.section-3__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media only screen and (max-width: 768px) {
  .section-3__row {
    flex-direction: column;
    row-gap: 30px;
  }
}
.section-3__left {
  max-width: 635px;
}
@media only screen and (max-width: 1200px) {
  .section-3__left {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .section-3__left {
    width: 100%;
  }
}
.section-3__left-inner {
  width: 100%;
  position: relative;
}
.section-3__left-inner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section-3__left-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.section-3__right {
  max-width: 665px;
}
@media only screen and (max-width: 1200px) {
  .section-3__right {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .section-3__right {
    width: 100%;
    padding: 0 12.5px;
  }
}
.section-3__right-inner {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
}
.section-3__right-inner h3 {
  color: #ff8a00;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .section-3__right-inner h3 {
    font-size: 30px;
  }
}
.section-3__right-inner p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 240%;
  text-transform: uppercase;
}

.section-4 {
  width: 100%;
  padding-left: 80px;
  margin-top: 65px;
}
@media only screen and (max-width: 768px) {
  .section-4 {
    padding-left: 0;
  }
}
.section-4__container {
  width: 100%;
}
.section-4__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media only screen and (max-width: 768px) {
  .section-4__row {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}
.section-4__left {
  max-width: 665px;
}
@media only screen and (max-width: 1200px) {
  .section-4__left {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .section-4__left {
    width: 100%;
    padding: 0 12.5px;
  }
}
.section-4__left-inner {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
}
.section-4__left-inner h3 {
  color: #ff8a00;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .section-4__left-inner h3 {
    font-size: 30px;
  }
}
.section-4__left-inner p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 240%;
  text-transform: uppercase;
}
.section-4__right {
  max-width: 635px;
}
@media only screen and (max-width: 1200px) {
  .section-4__right {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .section-4__right {
    width: 100%;
  }
}
.section-4__right-inner {
  width: 100%;
  position: relative;
}
.section-4__right-inner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section-4__right-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.section-5 {
  width: 100%;
  padding-left: 80px;
  margin-top: 120px;
}
@media only screen and (max-width: 768px) {
  .section-5 {
    margin-top: 60px;
    padding-left: 12.5px;
  }
}
.section-5__container .Section5Swiper.swiper {
  width: 100%;
  height: 100%;
}
.section-5__container .Section5Swiper.swiper .swiper-slide {
  height: 391px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .section-5__container .Section5Swiper.swiper .swiper-slide {
    height: 300px;
  }
}
.section-5__container .Section5Swiper.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-5__container .Section5Swiper.swiper .swiper-slide-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.section-6 {
  margin-top: 180px;
  padding: 0 80px;
}
@media only screen and (max-width: 768px) {
  .section-6 {
    padding: 0 12.5px;
    margin-top: 90px;
  }
}
.section-6__title {
  color: #ff8a00;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .section-6__title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 380px) {
  .section-6__title {
    font-size: 26px;
  }
}
.section-6__desc {
  color: #fff;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
@media only screen and (max-width: 480px) {
  .section-6__desc {
    font-size: 20px;
  }
}
.section-6__row {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .section-6__row {
    flex-direction: column;
  }
}
.section-6__row-col {
  width: 45%;
}
@media only screen and (max-width: 768px) {
  .section-6__row-col {
    width: 100%;
  }
}
.section-6__table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.section-6__table-row {
  display: table-row;
}
.section-6__table-row:last-child .cell {
  border-bottom: none;
}
.section-6__table-cell {
  display: table-cell;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}
.section-6__table-cell.title {
  font-size: 25px;
}
@media only screen and (max-width: 480px) {
  .section-6__table-cell.title {
    font-size: 22px;
  }
}
@media only screen and (max-width: 380px) {
  .section-6__table-cell.title {
    font-size: 18px;
  }
}
.section-6__table-cell.desc {
  font-size: 23px;
  text-align: right;
}
@media only screen and (max-width: 480px) {
  .section-6__table-cell.desc {
    font-size: 20px;
  }
}
@media only screen and (max-width: 380px) {
  .section-6__table-cell.desc {
    font-size: 16px;
  }
}

.section-7 {
  margin-top: 180px;
  padding: 0 80px;
}
@media only screen and (max-width: 768px) {
  .section-7 {
    padding: 0 12.5px;
    margin-top: 90px;
  }
}
.section-7__container .Section7Swiper.swiper {
  width: 100%;
  height: 100%;
}
.section-7__container .Section7Swiper.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section-7__container .Section7Swiper.swiper .swiper-slide__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.section-7__container .Section7Swiper.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-7__container .Section7Swiper.swiper .swiper-pagination {
  bottom: var(--swiper-pagination-bottom, 35px);
}
@media only screen and (max-width: 768px) {
  .section-7__container .Section7Swiper.swiper .swiper-pagination {
    bottom: var(--swiper-pagination-bottom, 20px);
  }
}
.section-7__container .Section7Swiper.swiper .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  background-color: transparent;
  margin: var(--swiper-pagination-bullet-vertical-gap, 0px) 13px;
}
.section-7__container .Section7Swiper.swiper .swiper-pagination-bullet-active {
  background-color: #ff8a00;
  border: none;
}
@media only screen and (max-width: 768px) {
  .section-7__container .Section7Swiper.swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}

.section-8 {
  width: 100%;
  padding: 120px 80px 0 80px;
}
@media only screen and (max-width: 1200px) {
  .section-8 {
    padding: 120px 40px;
  }
}
@media only screen and (max-width: 768px) {
  .section-8 {
    padding: 80px 12.5px 0 12.5px;
  }
}
.section-8__container {
  width: 100%;
}
.section-8__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .section-8__row {
    flex-direction: column;
    row-gap: 30px;
  }
}
.section-8__left {
  max-width: 648px;
}
@media only screen and (max-width: 1200px) {
  .section-8__left {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .section-8__left {
    width: 100%;
  }
}
.section-8__left-inner h3 {
  color: #ff8a00;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .section-8__left-inner h3 {
    font-size: 30px;
  }
}
.section-8__right {
  max-width: 517px;
}
@media only screen and (max-width: 1200px) {
  .section-8__right {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .section-8__right {
    width: 100%;
  }
}
.section-8__right-inner p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .section-8__right-inner p {
    font-size: 13px;
  }
}

.section-9 {
  margin-top: 80px;
  padding: 0 80px;
}
@media only screen and (max-width: 768px) {
  .section-9 {
    padding: 0 12.5px;
    margin-top: 40px;
  }
}
.section-9__container {
  width: 100%;
}
.section-9__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.section-9__col {
  position: relative;
  width: 50%;
  max-height: 540px;
}
.section-9__col img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section-9__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}/*# sourceMappingURL=style.css.map */